* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: SeaGreen;
    background-color: antiquewhite;
    border: 1px dotted blue;
    padding : 10px;
  }
  h1:hover {
    background-color: blue;
    color: antiquewhite;
    border: 2px dotted red;
  }

  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }
  a:hover {
    color:orange;
  }